<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'RMORRIS4Lab2BMI' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>bb7ec814-3f5e-4a9a-8ca7-e2d4c814abd0</InstrumentationKey>
</ApplicationInsights>